<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PublicKey</key>
	<string>4962e37b-5c97-4e4e-b1b1-50953d179535</string>
	<key>PrivateKey</key>
	<string>8ad2d16d-48d5-4c51-a35e-f6655ae68eb1</string>
</dict>
</plist>
